* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: yellow;
}
header {
    background: linear-gradient(135deg, #FFDD44, #FFB300, #FFA500);
    color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    outline: none;
    animation: animate 5s linear infinite;
}


@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        color: #000000;
        text-shadow: 0 0 5px #FF8C00,
                     -1px 0 5px #FF8C00,
                     1px 0 5px #FF8C00;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
        color: #000000;
        text-shadow: 0 0 10px #FF8C00,
                     -1px 0 15px #FF8C00,
                     1px 0 15px #FF8C00;
    }
}
#text {

    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700, 0 0 15px #FFD700, 0 0 20px #FF8C00;
    }
    25% {
        text-shadow: 0 0 5px #FF8C00, 0 0 10px #FF8C00, 0 0 15px #FF8C00, 0 0 20px #FF4500;
    }
    50% {
        text-shadow: 0 0 5px #FF4500, 0 0 10px #FF4500, 0 0 15px #FF4500, 0 0 20px #FF0000;
    }
    75% {
        text-shadow: 0 0 5px #FF0000, 0 0 10px #FF0000, 0 0 15px #FF0000, 0 0 20px #FF6347;
    }
    100% {
        text-shadow: 0 0 5px #FF6347, 0 0 10px #FF6347, 0 0 15px #FF6347, 0 0 20px #FFD700;
    }

}

.menu-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 25px;
    padding: 5px;
}

.menu-icon {
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 3px 0;
}

#menu-toggle {
    display: none;
}

.popup-menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 150px;
    background-color: #FF8C00;
    border: 1px solid #FFA500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.popup-menu a {
    color: #FFFFFF;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 0.9em;
}
.popup-menu a:hover,
.popup-menu a.active {
    color: black;
    background-color: yellow;
    border-bottom: 3px solid orangered;
}

.popup-menu a:hover {
    background-color: #FFA500;
}

#menu-toggle:checked + .menu-button + .popup-menu {
    opacity: 1;
    max-height: 500px;
}

img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: 50% 20%;
}
.heading-container {
  background-color: #cb202d;
  color: #ffffff;
  font-size: 2.5em;
  padding: 0.8em 0;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 50px 0 rgba(2, 0, 31, 0.3);
  z-index: 1;
}
.heading-container h4 {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 5px;
}
.options-container {
  margin: 10em 0 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  text-align: center;
}
.option {
  background-color: #d5d5d5;
  border: none;
  cursor: pointer;
  padding: 0.8em 1.5em;
  border-radius: 0.5em;
  border: none;
  text-transform: capitalize;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}
.news-card {
  display: grid;
  padding-bottom: 150px;
  position: relative;
  grid-template-rows: auto 1fr;
  box-shadow: 0 0 15px rgba(85, 85, 85, 0.2);
  margin: 1em 0;
  border-radius: 15px;
}
.news-card img {
  border-radius: 15px 15px 0 0;
}
.news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  font-size: 15px;
}
.news-title {
  font-weight: 600;
  color: #0b0028;
}
.news-description {
  color: black;
  text-align: justify;
  margin: 0.8em 0 1em 0;
}
.view-button {
  position: relative;
  text-decoration: none;
  background-color: orange;
  color: #ffffff;
  width: 7em;
  text-align: center;
  padding: 0.3em 0.2em;
  border-radius: 5px
}
.active {
  background-color: #cb202d;
  color: #ffffff;
}
footer {
    background-color: #FF8C00;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 10px;
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotline {
    margin: 1px 0;
}

.hotline a {
    color: #FFFFFF; 
    text-decoration: underline; 
}

.social-icons {
    margin-top: 1px;
}

.social-logo {
    width: 30px; 
    height: auto; 
    margin: 1px;
    transition: transform 0.3s;
}

.social-logo:hover {
    transform: scale(1.1); 
}


@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
